---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Bhargav Gutta's Portfolio Website">
    <meta property="og:title" content="Bhargav's Portfolio">
    <meta property="og:description" content="Bhargav Gutta's Portfolio Website">
    <meta property="og:image" content="/newWebsite.jpg">
    <meta property="og:url" content="https://dev.gutta.com">
    <title>Bhargav Gutta</title>
  </head>
  <body class="bg-white dark:bg-[#121212] min-h-screen pt-14">
    <Navbar />
    <main class="max-w-2xl mx-auto px-4 sm:px-6 py-12">
      <slot />
    </main>
  </body>
</html>
